<h4>{{ title }}</h4>
<br/>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          [(ngModel)]="user.name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
          #name="ngModel"
        />
        <br />

        <label for="sectors">Sectors</label>
        <sector-tree
          [selection]="user.sectors"
          (selectedEventEmitter)="addSelected($event)"
        ></sector-tree>

        <br />

        <label for="agreeToTerms">Agree to terms </label>
        &nbsp;
        <input
          type="checkbox"
          [(ngModel)]="user.agreeToTerms"
          name="agreeToTerms"
        />
      </div>
      <button
        type="submit"
        [disabled]="!userForm.form.valid"
        class="btn btn-info"
      >
        Submit
      </button>

      <div *ngIf="existingUsers && existingUsers.length > 0">
        <br />
        <label for="existingUser">Edit user </label>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Select user</mat-label>
          <mat-select (selectionChange)="changeFormValues($event.value)">
            <mat-option *ngFor="let user of existingUsers" [value]="user">
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
